<div>
<div fxLayout="row" fxLayoutWrap fxLayout.xs="column" class="breadcrumb-bg" fxFlex="100">
 <table class="table table-striped">
            <thead>
               <tr>
                  <th>#</th>
                  <th>Lorum Ipsum</th>
                  <th>Lorum Ipsum</th>
                  <th>Lorum Ipsum</th>
                  <th>Lorum Ipsum</th>
                  <th>Lorum Ipsum</th>
                  <th>Lorum Ipsum</th>
                  <th>Lorum Ipsum</th>
               </tr>
            </thead>
            <tbody>
                <tr>
                  <td>1</td>
                  <td>is a form control for selecting a value from a set of options, similar to the native</td>
                  <td>Lorum Ipsum</td>
                  <td>
                    <mat-form-field class="qty-box" appearance="outline">
                      <input matInput placeholder="" value="">
                    </mat-form-field>
                    <div>
                       <button mat-button class="user-button btngreen mr-b10 btn-line">
                          <div fxLayout="row" class="cwhite font13" fxLayoutAlign="center center">
                             <mat-icon class="s-16 mr-12">refresh</mat-icon>
                              <span class="username mr-12" fxShow.gt-sm>Loreum Ipsum</span>
                              
                          </div>
                        </button>
                    </div>
                  </td>
                  <td>Lorum Ipsum</td>
                  <td>Lorum Ipsum</td>
                  <td>Lorum Ipsum</td>
                  <td>
                    <div>
                     <button mat-button class="user-button btnred btn-line" (click)="openDialog()">
                      <div fxLayout="row" class="cwhite font13" fxLayoutAlign="center center">
                         <mat-icon class="s-16 mr-12">delete</mat-icon>
                          <span class="username mr-12" fxShow.gt-sm>Loreum Ipsum</span>
                          
                      </div>
                      </button>
                    </div>
                  </td>
                </tr>
                <tr class="full-total">
                    <td colspan="3" class="text-right">Lorum ipsum</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td></td>
                    
                </tr>
                <tr class="full-total">
                    <td colspan="7" class="text-right">Lorum ipsum</td>
                    <td class="text-right">1</td>
                    
                </tr>
                <tr class="full-total">
                    <td colspan="7" class="text-right">Lorum ipsum
                    <mat-form-field class="qty-sel mr-l6">
                      <mat-select placeholder="Lorum ipsum">
                        <mat-option  [value]="">
                          Lorum ipsum
                        </mat-option>
                        <mat-option  [value]="">
                          Lorum ipsum
                        </mat-option>
                      </mat-select>
                    </mat-form-field>

                    </td>
                    <td class="text-right">1</td>
                    
                </tr>
                
                <tr class="full-total">
                    <td colspan="7" class="text-right">Lorum ipsum</td>
                    <td class="text-right">1</td>
                    
                </tr>
                <tr class="full-total">
                    <td colspan="7" class="text-right">Lorum ipsum
                    <mat-form-field class="qty-sel mr-l6">
                      <mat-select placeholder="Lorum ipsum">
                        <mat-option  [value]="">
                          Lorum ipsum
                        </mat-option>
                        <mat-option  [value]="">
                          Lorum ipsum
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    </td>
                    <td class="text-right">1</td>
                    
                </tr>
                <tr class="full-total">
                    <td colspan="7" class="text-right">Lorum ipsum</td>
                    <td class="text-right">1</td>
                    
                </tr>
                <tr>
                    <td colspan="8" class="text-right">
                      <button mat-button class="user-button ltyellow mr-br">
                      <div fxLayout="row" class="cwhite font13" fxLayoutAlign="center center">
                         <mat-icon class="s-16 mr-12">delete</mat-icon>
                          <span class="username mr-12" fxShow.gt-sm>Loreum Ipsum</span>
                          
                      </div>
                      </button>

                      <button mat-button class="user-button laverderbtn mr-br">
                      <div fxLayout="row" class="cwhite font13" fxLayoutAlign="center center">
                         <mat-icon class="s-16 mr-12">refresh</mat-icon>
                          <span class="username mr-12" fxShow.gt-sm>Loreum Ipsum</span>
                          
                      </div>
                      </button>
                    </td>
                </tr>
            </tbody>
        </table>
</div>
<div fxLayout="row" fxLayoutWrap fxLayout.xs="column" class="breadcrumb-bg" fxFlex="100">
      <div fxFlex="100">
        <p class="emptycart">Empty Cart</p>
        <p class="clav continue-shopping"><a href="#" class="clav">Continue Shipping</a></p>
      </div>
  </div>


  
</div>