
.pt-15
{
    padding-top:15px;
}

.pb-30
{
    padding-bottom:30px;
}
.dashcard.accor-dash
{
    border:none !important;
}
.accor-dash .mat-expansion-panel-header
{
        background: #954db3 !important;
        color: #fff !important;
}

.accor-dash .mat-expansion-panel-header-title{
     color: #fff !important;
}
.accor-dash .mat-expansion-panel{
    border: 1px solid #ccc;
    width: 100%;
    box-shadow:none !important;
}

.commprodct-div
{
    background: #f7f7f7;
    padding: 25px;
}

agm-map {
  height: 300px;
}
.mat-progress-bar
{
	height:20px !important;
}
.bright-right{
    text-align: left;
    float: right;
    width: 50px;
    background: #954db3;
    height: 50px;
    color: #fff;
    padding-left: 5px;
    padding-top: 5px;
}

.p-relative
{
	position:relative !important;
}

.commprodct-div
{
    background: #f7f7f7;
    padding: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
}