<div fxLayout="row" fxLayoutWrap fxLayout.xs="column" class="commprodct-div" fxFlex="100" fxLayout="'row wrap'">
   <div fxFlex="100" fxLayout="column" fxFlex.xs="100" fxLayoutAlign="center center">
        <h2 class="text-uppercase clav ft">venus it</h2>
    </div>
    <div fxFlex="50" fxLayout="column" fxFlex.xs="100">
        <div fxFlex="100" fxLayout="row" fxFlex.xs="100" fxLayoutAlign="center start" class="mr-b20" fxLayout.xs="'row wrap'">
              <div fxFlex="50" fxLayout="column" fxLayout.xs="row" fxLayoutAlign="center start" fxFlex.xs="100" fxLayoutAlign.xs="center center" class="p-realtive">
                   <div class="p-companylogo small-mtb-20">
                   <img class="flag mr-16" [src]="'assets/images/logos/logo.png'">
                   
                     <span class="p-caption"> $10</span>
                  </div>
              </div>
              <div fxFlex="50" fxLayout="column" fxLayout.xs="row" fxLayoutAlign="center start" fxFlex.xs="100" fxLayoutAlign.xs="center center">
                   <img class="flag mr-16" [src]="'assets/images/logos/logo.png'">
              </div>
        </div>
        <div fxFlex="100" fxLayout="row" fxFlex.xs="100" fxLayoutAlign="center center" class="mainbackground mr-t45">

              <button mat-button class="user-button">
                        <div fxLayout="row" fxLayoutAlign="center center" class="cwhite font13">
                            <mat-icon class="s-16 mr-6">person</mat-icon>
                            <span class="username mr-12">Loreum Ipsum</span>
                            
                        </div>
              </button>
        </div>
         <agm-map [latitude]="lat" [longitude]="lng">
           <agm-marker [latitude]="lat" [longitude]="lat">
            
          </agm-marker>
         </agm-map>
        <div fxFlex="100" fxLayout="row" fxFlex.xs="100" fxLayoutAlign="center center" class="mainbackground mr-t10">

            <div fxFlex="50" fxLayout="column"  fxLayoutAlign="center start" fxFlex.xs="100" fxLayoutAlign.xs="center start">
                  <button mat-button class="user-button">
                        <div fxLayout="row" fxLayoutAlign="start center" class="cwhite font13">
                            <mat-icon class="s-16 mr-6">person</mat-icon>
                            <span class="username mr-12">Loreum Ipsum</span>
                            
                        </div>
                  </button>
             </div>
             <div fxFlex="50" fxLayout="column"   fxLayoutAlign="center end" fxFlex.xs="100" fxLayoutAlign.xs="center center">
                  <button mat-button class="user-button">
                        <div fxLayout="row" fxLayoutAlign="start center" class="cwhite font13" >
                            <mat-icon class="s-16 mr-6">star_border</mat-icon>
                            <mat-icon class="s-16 mr-6">star_border</mat-icon>
                            <mat-icon class="s-16 mr-6">star_border</mat-icon>
                        </div>
                  </button>
             </div>
        </div>
        <div fxFlex="100" fxLayout="row" fxFlex.xs="100" fxLayoutAlign="center center" class=" mr-t10">
           
            <mat-progress-bar mode="determinate" value="40" color="warn"></mat-progress-bar>
            
        </div>
        <div fxFlex="100" fxLayout="row" fxFlex.xs="100" fxLayoutAlign="center center" class=" mr-t10">
           
            <mat-progress-bar mode="determinate" value="40" color="warn"></mat-progress-bar>
            
        </div>
        <div fxFlex="100" fxLayout="row" fxFlex.xs="100" fxLayoutAlign="center center" class=" mr-t10">
           
            <mat-progress-bar mode="determinate" value="40" color="warn"></mat-progress-bar>
            
        </div>
        <div fxFlex="100" fxLayout="row" fxFlex.xs="100" fxLayoutAlign="center center" class=" mr-t10">
           
            <mat-progress-bar mode="determinate" value="40" color="accent"></mat-progress-bar>
            
        </div>
        <div fxFlex="100" fxLayout="row" fxFlex.xs="100" fxLayoutAlign="center center" class=" mr-t10">
           
            <mat-progress-bar mode="determinate" value="40" color="accent"></mat-progress-bar>
            
        </div>

    </div>   
     <div fxFlex="50" fxLayout="column" fxLayoutAlign="star start" fxFlex.xs="100" fxLayoutAlign.xs="center start" class="npd-lr20">
          <p><b>Loreum Ipsum</b></p>
          <p>
              When a breakpoint is activated and the hosting element does NOT have a responsive API defined for the newly activated breakpoint, the Flex-Layout responsive engine uses a fallback, descending-scan algorithm to determine the replacement activation value.
          </p>
          <p>
                <button mat-button class="user-button yellowbtn br0">
                        <div fxLayout="row" fxLayoutAlign="start center" class="cwhite font13">
                            <span>Loreum Ipsum</span>
                        </div>
                  </button>
          </p>
          <p>
            Loreum Ipsum
          </p>
          <p>
                No 17, Tower Road<br>
                No 17, Tower Road<br>
                Srilanka<br>
            
          </p>
          <p>
              Loreum Ipsum: <span>www.google.com</span>
          </p>
          <p>
              Loreum Ipsum: <span class="clav">www.google.com</span>
          </p>
          <p>
              Loreum Ipsum: <span>+123401234</span>
          </p>
    </div>
</div>


