<div fxLayout="row"  fxFlex="100" class="dashcard accor-dash mr-10" fxLayoutAlign="center center" >
    
        <div fxFlex="100">  
              <h2 class="ft text-uppercase text-center m-t-35">Loreum Ipsum</h2> 
                <mat-accordion>
                  <mat-expansion-panel hideToggle="true">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Loreum Ipsum
                      </mat-panel-title>
                      
                    </mat-expansion-panel-header>
                      <p>Loreum Ipsum</p>
                  </mat-expansion-panel>
                  <mat-expansion-panel hideToggle="true">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Loreum Ipsum
                      </mat-panel-title>
                      
                    </mat-expansion-panel-header>
                    <p>Loreum Ipsum</p>
                  </mat-expansion-panel>
                </mat-accordion>
        </div>
    
</div>