 <table class="table table-striped">
            <thead>
               <tr>
                  <th>#</th>
                  <th>Lorum Ipsum</th>
                  <th>Lorum Ipsum</th>
                  <th>Lorum Ipsum</th>
                  <th>Lorum Ipsum</th>
                  <th>Lorum Ipsum</th>
                  <th>Lorum Ipsum</th>
                  
               </tr>
            </thead>
            <tbody>
                <tr>
                  <td>1</td>
                  <th>Lorum Ipsum</th>
                  <th>Lorum Ipsum</th>
                  <th>Lorum Ipsum</th>
                  <th>Lorum Ipsum</th>
                  <th>Lorum Ipsum</th>
                  <th>Lorum Ipsum</th>
                  
                </tr>
                <tr class="full-total">
                    <td colspan="3" class="text-right">Lorum ipsum</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    
                    
                </tr>
                <tr class="full-total">
                    <td colspan="6" class="text-right">Lorum ipsum</td>
                    <td class="text-right">1</td>
                    
                </tr>
         
                
                <tr class="full-total">
                    <td colspan="6" class="text-right">Lorum ipsum</td>
                    <td class="text-right">1</td>
                    
                </tr>
                
                <tr class="full-total">
                    <td colspan="6" class="text-right">Lorum ipsum</td>
                    <td class="text-right">1</td>
                    
                </tr>
                
            </tbody>
        </table>


      <table class="table table-striped table-before mr-t40">
            <thead>
               <tr>
                  <th colspan="7">Lorum Ipsum</th>
                  
                  
               </tr>
            </thead>
            <tbody>
                <tr>
                  <td colspan="2">Lorum Ipsum</td>
                  <td colspan="5">Lorum Ipsum</td>
                  
                  
                </tr>
                <tr>
                  <td colspan="2">Lorum Ipsum</td>
                  <td colspan="5">Lorum Ipsum</td>
                  
                  
                </tr>
                <tr>
                  <td colspan="2">Lorum Ipsum</td>
                  <td colspan="5">Lorum Ipsum</td>
                  
                  
                </tr>
                <tr>
                    <td colspan="2">Lorum Ipsum</td>
                  <td colspan="5">
                      <mat-form-field appearance="outline">
                      <mat-select placeholder="Lorum ipsum">
                        <mat-option  [value]="">
                          Lorum ipsum
                        </mat-option>
                        <mat-option  [value]="">
                          Lorum ipsum
                        </mat-option>
                      </mat-select>
                    </mat-form-field>

                  </td>
                    
                    
                </tr>
                <tr>
                    <td colspan="2">Lorum Ipsum</td>
                  <td colspan="5">Lorum Ipsum</td>
                    
                    
                </tr>
         
                
                <tr>
                    <td colspan="2">Lorum Ipsum</td>
                  <td colspan="5">
                    <mat-form-field appearance="outline">
                      <mat-select placeholder="Lorum ipsum" >
                        <mat-option  [value]="">
                          Lorum ipsum
                        </mat-option>
                        <mat-option  [value]="">
                          Lorum ipsum
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </td>
                    
                    
                </tr>
                
                <tr>
                    <td colspan="2">Lorum Ipsum</td>
                    <td colspan="5">
                      <mat-form-field class="example-full-width" appearance="outline">
                        <textarea matInput placeholder="Leave a comment"></textarea>
                      </mat-form-field>
                    </td>
                    
                    
                </tr>
                <tr>
                    <td colspan="8" class="text-right">
                      
                      <button mat-button class="user-button btngreen mr-br">
                      <div fxLayout="row" class="cwhite font13" fxLayoutAlign="center center">
                         <mat-icon class="s-16 mr-12">shopping_cart</mat-icon>
                          <span class="username mr-12" fxShow.gt-sm>Loreum Ipsum</span>
                          
                      </div>
                      </button>
                    </td>
                </tr>
            </tbody>
        </table>