<div >
<div fxLayout="row" fxLayoutWrap fxLayout.xs="column" class="breadcrumb-bg" fxFlex="100">

    <div fxFlex="100" fxLayout="row" fxLayoutAlign="end">
        <button mat-button class="user-button">
                      <div fxLayout="row" fxLayoutAlign="end" class="cblack font13">
                          <span class="username mr-12">Loreum Ipsum: 2018/07/17</span>
                      </div>
       </button>
    </div>

</div>


<div fxLayout="row" fxLayoutWrap fxLayout.xs="column" class="breadcrumb-bg" fxFlex="100">
  
    <div fxFlex="100" fxLayout="column" fxLayoutAlign="start">       
        <div fxLayout="row" fxLayoutAlign="start start" class="cblack font13">
          <div class="pad-lr-15">
            <p class="username mr-12 font20">Loreum Ipsum: 216</p>
            
              <img class="flag mr-16" [src]="'assets/images/logos/logo.png'">
               <p class="username mr-12 font16"><b>Diyo Shop</b></p>
            </div>
        </div>       
    </div>
</div>



<div fxLayout="row" fxLayout="'row wrap'" fxLayout.xs="column" class="breadcrumb-bg" fxFlex="100" class="pad-lr-15">
  
    <div fxFlex="50" fxLayout="column" fxFlex.xs="100" fxLayout.xs="row" fxLayoutAlign="start">
       
                      <div fxLayout="row" fxLayoutAlign="start start" class="cblack font13">
                        <div class="">
                         
                            <address>
                                <p>address 1</p>
                                <p>address 2</p>
                                <p>address 1</p>
                                <p>address 2</p>
                            </address>
                          </div>
                      </div>
       
    </div>
    <div fxFlex="50" fxLayout="column" fxFlex.xs="100" fxLayout.xs="row" fxLayoutAlign="start">
        
                      <div fxLayout="row" fxLayoutAlign="end end" class="cblack font13" fxLayoutAlign.xs="start start">
                          <div class="order-tr">
                         
                            <address>
                                <p class="text-uppercase font13"><i class="font13">VENUS INDIA PVT</i></p>
                                <p>address 2</p>
                                <p>address 1</p>
                                <p>address 2</p>
                            </address>
                          </div>
                      </div>
       
    </div>

</div>
</div>