<div fxLayout="row" fxLayoutWrap fxLayout.xs="column" class="breadcrumb-bg" fxFlex="100" fxLayout="'row wrap'">
    <div fxFlex="75" fxLayout="column" fxFlex.xs="100">
            <button mat-button class="user-button">
                      <div fxLayout="'row wrap'" fxLayoutAlign="start center" class="cblack font13" >
                         <mat-icon class="s-16 mr-12">home</mat-icon>
                          <span class="username mr-12 clav">Loreum Ipsum</span>
                          <span class="username mr-12">/</span>
                          <span class="username mr-12">Cart</span>
                          <span class="username mr-12">/</span>
                          <span class="username mr-12">Loreum Ipsum </span>
                      </div>
              </button>
    </div>   
    <div fxFlex="25" fxLayout="column" fxLayoutWrap="wrap"  fxLayoutAlign="center end" fxFlex.xs="100" fxLayoutAlign.xs="center center">
         <button mat-button class="user-button bluebutton" (click)="openbreadDialog()">
                      <div fxLayout="row" class="cwhite font13" fxLayoutAlign="center center">
                          <mat-icon class="s-16 mr-12">shopping_cart</mat-icon>
                          <span class="username mr-12">Loreum Ipsum</span>
                          
                      </div>
         </button>
    </div> 
</div>