<div class="page-layout blank p-24">

    <div class="breadcrumb">
        <breadcrumb fxFlex="100" fxLayout="row"></breadcrumb>
    </div>


    <div class="mr-table" style="overflow-x:auto;">
      <order-card></order-card>
    </div>
    <div class="mr-table mr-t45" style="overflow-x:auto;">
        <ordercomplete></ordercomplete>
    </div>

    <div class="mr-table text-center mr-tb">
        <p><b>Yersha</b></p>
        <p>xxxxx@gmail.com</p>
        <p>xxxxx@gmail.com</p>
    </div>

    <div class="mr-table text-right mr-tb">
        <button mat-button class="user-button btngreen mr-br">
                      <div fxLayout="row" class="cwhite font13" fxLayoutAlign="center center">
                         <mat-icon class="s-16 mr-12">print</mat-icon>
                          <span class="username mr-12" fxShow.gt-sm>Loreum Ipsum</span>
                          
                      </div>
                      </button>
    </div>
</div>