<div fxLayout="row" [fxLayout]="'row wrap'" class="form-div search-div">
    <div fxFlex="20" fxLayout="row"  fxLayoutAlign="center center" fxLayout.lt-md="column" fxFlex.lt-md="100" fxLayoutAlign.lt-md="center center">   
                <div class="">
                    <mat-label class="li-height35 clav">Loreum ipsum</mat-label>
                </div>
    </div>
    <div fxFlex="20" fxLayout="row"  fxLayoutAlign="start end" fxLayout.lt-md="column" fxFlex.lt-md="100" fxLayoutAlign.lt-md="center center">   
                <div class="input-100">
                   <mat-form-field appearance="outline">
                                <input matInput placeholder="Loreum Ipsum">
                             </mat-form-field>
                             
                </div>
    </div>
    <div fxFlex="20" fxLayout="row"  fxLayoutAlign="start end"  fxLayout.lt-md="column" fxFlex.lt-md="100" fxLayoutAlign.lt-md="center center">   
                <div class="input-100">
                   <mat-form-field appearance="outline">
                                <input matInput placeholder="Loreum Ipsum">
                             </mat-form-field>
                </div>
    </div>
    <div fxFlex="20" fxLayout="row"  fxLayoutAlign="start end"  fxLayout.lt-md="column" fxFlex.lt-md="100" fxLayoutAlign.lt-md="center center">   
                <div class="input-100">
                  <mat-form-field appearance="outline">
                                <input matInput placeholder="Loreum Ipsum">
                             </mat-form-field>
                </div>
    </div>
    <div fxFlex="20" fxLayout="row"  fxLayoutAlign="center start"  fxLayout.lt-md="column" fxFlex.lt-md="100" fxLayoutAlign.lt-md="center center">   
        <div>
            <button mat-button class="user-button laverderbtn btn-height hm-btn">                    
            <div fxLayout="row" fxLayoutAlign="center center" class="cwhite font13 text-uppercase">
               <mat-icon class="s-16">search</mat-icon>
                <span class="username mr-12">search</span>
            </div>
        </button>
        </div>
    </div>
</div>