<div fxLayout="row"  class="dashcard best-partner">
    <div fxFlex="100" [fxLayout]="'row wrap'">
     <div  class="best-product">
        <div class="col-sm-12 bleft"  fxLayoutAlign="center center">
            <img class="img-fluid" [src]="'assets/images/logos/logo.png'">
        </div>
        <div class="col-sm-12 bmiddle">
            <h3>Diyo shop</h3>
            <h6>Diyo Shop</h6>
            
        </div>
        <div class="col-sm-12 bright">
            <div class="star-icon">
            <mat-icon class="s-16">star</mat-icon>
            <mat-icon class="s-16">star</mat-icon>
            <mat-icon class="s-16">star</mat-icon>
             </div>
            <div class="triangle-bottomleft">
            </div>
            <div class="bright-right">
                $10%
            </div>
            
             <button mat-button class="user-button yellowbtn">
                <div  class="clav font13" fxLayout="row" fxLayoutAlign="end center">
                   <mat-icon class="s-16">person</mat-icon>
                    <span class="username mr-12">Loreum Ipsam</span>
                </div>
            </button>
        </div>
    </div>
    </div>
</div>
