mat-card {
  padding: 5px;
  margin: 5px;
}
.info-div
{
	background: #f7f7f7;
    border-radius: 3px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
}