  <table class="table">
         
            <tbody>
                <tr>
                  <td>Lorum Ipsum</td>
                  <td>Lorum Ipsum</td>
                  
                </tr>
                <tr>
                  <td>Lorum Ipsum</td>
                  <td>Lorum Ipsum</td>
                  
                </tr>
                <tr>
                  <td>Lorum Ipsum</td>
                  <td>Lorum Ipsum</td>
                  
                </tr>
                <tr>
                  <td>Lorum Ipsum</td>
                  <td>Lorum Ipsum</td>
                  
                </tr>
                <tr>
                  <td>Lorum Ipsum</td>
                  <td>Lorum Ipsum</td>
                  
                </tr>
                
                
            </tbody>
        </table>


 <table class="table table-striped mr-t45">
            <thead>
               <tr>
                  <th>#</th>
                  <th>Lorum Ipsum</th>
                  <th>Lorum Ipsum</th>
                  <th>Lorum Ipsum</th>
                  <th>Lorum Ipsum</th>
                  <th>Lorum Ipsum</th>
                  <th>Lorum Ipsum</th>
                  
               </tr>
            </thead>
            <tbody>
                <tr>
                  <td>1</td>
                  <th>Lorum Ipsum</th>
                  <th>Lorum Ipsum</th>
                  <th>Lorum Ipsum</th>
                  <th>Lorum Ipsum</th>
                  <th>Lorum Ipsum</th>
                  <th>Lorum Ipsum</th>
                  
                </tr>
                <tr class="full-total">
                    <td colspan="3" class="text-right">Lorum ipsum</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    
                    
                </tr>
                <tr class="full-total">
                    <td colspan="6" class="text-right">Lorum ipsum</td>
                    <td class="text-right">1</td>
                    
                </tr>
         
                
                <tr class="full-total">
                    <td colspan="6" class="text-right">Lorum ipsum</td>
                    <td class="text-right">1</td>
                    
                </tr>
                
                <tr class="full-total">
                    <td colspan="6" class="text-right">Lorum ipsum</td>
                    <td class="text-right">1</td>
                    
                </tr>
                
            </tbody>
        </table>


     