

<div class="page-layout blank p-24">
   <div fxLayout="row" fxLayoutWrap fxLayout.xs="column" class="commprodct-div" fxFlex="100" fxLayout="'row wrap'">
    <div fxFlex="65" fxLayout="column" fxFlex.xs="100">
        <button mat-button class="user-button mblword">
                      <div fxLayout="'row wrap'" fxLayoutAlign="start center" class="cblack font13" >
                         <mat-icon class="s-16 mr-12">home</mat-icon>
                          <span class="username mr-12 clav">Loreum Ipsum</span>
                          <span class="username mr-12">/</span>
                          <span class="username mr-12">Loreum Ipsum</span>
                          <span class="username mr-12">/</span>
                          <span class="username mr-12">Loreum</span>
                      </div>
              </button>
    </div>   
    <div fxFlex="35" fxLayout="column" fxLayoutAlign="center end" fxFlex.xs="100" fxLayoutAlign.xs="center center">
        
         <mat-button-toggle-group class="laverderbtn">
			  <mat-button-toggle (click)="onDisplayModeChange(1)"><mat-icon class="s-16 cwhite">view_module</mat-icon></mat-button-toggle>
			  <mat-button-toggle (click)="onDisplayModeChange(2)"><mat-icon class="s-16 cwhite">view_list</mat-icon></mat-button-toggle>
		</mat-button-toggle-group>
    </div> 
</div>
    <div *ngIf="displaymode === 1">
    	<productgridview></productgridview>
    </div>
    <div *ngIf="displaymode === 2">
    	<productlistview></productlistview>
    </div>
    <div>
          <jw-pagination [items]="items" (changePage)="onChangePage($event)"></jw-pagination>
    </div>
	<div>
		<commonproduct></commonproduct>
	</div>
</div>